<div class="site-brand">
  <a href="/">{{ site.title }}</a>
  <small>Mostly dev stuff</small>
</div>
<nav>
  <ul>
    <li><a href="/blog/">Blog</a></li>
    <li><a href="/about/">About</a></li>
  </ul>
</nav>
