# --- 11ty stuff ---

# published site
_site/
# icky javascript stuff
node_modules/

# --- Mac-specific ---

# directory metadata
.DS_Store

# --- my stuff ---

# robot overlord instructions
CLAUDE.md
# sekrit robot overlord instructions
CLAUDE.local.md
