---
eleventyExcludeFromCollections: true
permalink: /feed.json
---
{
  "version": "https://jsonfeed.org/version/1.1",
  "title": {{ site.title | dump | safe }},
  "home_page_url": "{{ site.url }}/",
  "feed_url": "{{ site.url }}/feed.json",
  "icon": "{{ site.url }}/icon-512.png",
  "favicon": "{{ site.url }}/icon-192.png",
  "description": {{ site.description | dump | safe }},
  "authors": [
    {
      "name": {{ site.author | dump | safe }},
      "url": "{{ site.url }}"
    }
  ],
  "language": {{ site.language | dump | safe }},
  "items": [
    {%- set posts = collections.blog | reverse | batch(20) | first %}
    {%- for post in posts %}
    {
      "id": "{{ site.url }}{{ post.url }}",
      "url": "{{ site.url }}{{ post.url }}",
      "title": {{ post.data.title | dump | safe }},
      {%- if post.data.description %}
      "summary": {{ post.data.description | dump | safe }},
      {%- endif %}
      "content_html": {{ post.templateContent | absoluteUrls(site.url + post.url) | dump | safe }},
      "date_published": "{{ post.date | feedDate }}"
      {%- set contentTags = post.data.tags | reject("equalto", "blog") %}
      {%- if contentTags | length %},
      "tags": {{ contentTags | dump | safe }}
      {%- endif %}
    }{% if not loop.last %},{% endif %}
    {%- endfor %}
  ]
}
