---
eleventyExcludeFromCollections: true
permalink: /human.json
---
{
  "version": "0.1.1",
  "url": "{{ site.url }}",
  "vouches": [
    {
      "url": "https://hamatti.org",
      "vouched_at": "2026-05-16"
    },
    {
      "url": "https://magdalenahai.com",
      "vouched_at": "2026-09-10"
    }
  ]
}
